<ion-view style="" id="" hide-nav-bar="true" hide-back-button="true" >
    <ion-content class="has-header">
        <div id="loginPage" class="p-y-md div-back">
            <div class="text-center">
            </div>
            <div class="loginForm p-a-md ">
                <form class="list" id="loginForm" name="loginForm">
                    <div class="md-form-group" >
                        <input id="name" type="text" name="user" ng-model="user.email"  placeholder="Correo electrónico" ng-required="true" class="input-login" autocorrect="off" autocapitalize="none">
                    </div>
                    <div class="md-form-group">
                        <input id="pass" type="password" name="pass" ng-model="user.password"  placeholder="Password" ng-required="true" class="input-login" autocorrect="off" autocapitalize="none">
                    </div>

                    <div class="" style="padding-top: 10px;">
                        <button id="login-button1" ng-click="doLogin()" ng-disabled="loginForm.$invalid || btnDisabled"  class="button button-full button-calm">
                        INGRESAR
                    </button>
                    </div>
                    <div class="text-center">
                        <div class="m-b ">
                            <a class="white cursor" ng-click="goToGetPasswordPage()">Olvidó la contraseña</a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="m-b ">
                            <a class="white cursor" href="#/newAccount">Crear cuenta</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
