<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <form>
      <div class="md-form-group">
          <input id="name" type="text"  ng-model="data.dato1" class="input-login" autocorrect="off" autocapitalize="none">
      </div>
      <div class="md-form-group">
          <input id="pass" type="text"  ng-model="data.dato2" autocorrect="off" autocapitalize="none">
      </div>
      <button ion-button ng-click="addAlgo(data)">Button</button>
    </form>
  </ion-content>
</ion-view>
